.home-layout {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: auto auto auto;
    gap: 1em 0;
    margin-top: 1em;
}

.main {
    grid-area: main;
    padding: 0 1em;
    text-align: center;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: .25em;
}

.card {
    background-color: #FFFFFF;
    border: .25em double #979797;
    border-radius: .25em;
    margin: .5em;
    padding: .75em;
}

.card-image {
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
    height: 30vh;
    width: 100%;
    margin: 0 auto;
}

.card-title {
    background-color: #3d6a27;
    border-bottom: solid #FFFFFF;
    border-top: solid #FFFFFF;
    border-radius: .25em;
    color: #FFFFFF;
    font-size: 1.125em;
    margin: -.4em 0 0 0;
    padding: .25em 0;
    text-align: center;
}

.card-content {
    color: #2c2842;
    font-weight: 600;
    margin: .5em 0;
    text-align: justify;
}

.card-footer {
    padding: .5em;
    text-align: center;
}

.card-footer .post-link {
    background-color: #3d6a27;
    border-radius: .5em;
    color: #FFFFFF;
    display: inline-block;
    font-size: .875em;
    font-weight: 700;
    padding: .5em;
    text-align: center;
    text-decoration: none;
}

#subscribe-form {
    padding: .5em;
}

.subscribe-label {
    display: block;
    color: #4b4572;
    font-weight: 600;
    margin-bottom: .75em;
}

.subscribe-input {
    background-color: inherit;
    border: .1em solid #4b4572;
    border-radius: .25em;
    color: #2c2842;
    outline: none;
    padding: .25em 0 .25em .5em;
    width: 50%;
}

.subscribe-input:focus {
    border: .15em solid #3d6a27;
}

#subscribe-button {
    background-color: #3d6a27;
    border: none;
    border-radius: .5em;
    display: block;
    color: #FFFFFF;
    cursor: pointer;
    font-size: .875em;
    font-weight: 700;
    margin: .25em auto;
    padding: .5em;
}