body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

/* Grid Setup CSS */
.home-layout {
    display: grid;
    grid-template-areas: 
    "header" 
    "main" 
    "footer";
    grid-template-rows: auto auto auto;
    gap: 1em 0;
    margin-top: 1em;
}

.header {
    grid-area: header;
    padding: 0 1em;
}

.main {
    grid-area: main;
    padding: 0 1em;
    text-align: center;
}

.footer {
    align-items: center;
    background-color: #4b4572;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    grid-area: footer;
    gap: 1em;
    justify-content: center;
    padding: .2em 0;
    text-align: center;
}

/* Nav Bar CSS */
.navbar {
    background-color: #4b4572;
    display: flex;
    flex-direction: column;
    padding: .2em .5em .5em .5em;
}

.navbar-title {
    font-size: 2.25em;
    font-style: italic;
    margin: 0;
    margin-bottom: .25em;
}

.navbar-title-link {
    color: #FFFFFF;
    text-decoration: none;

}

.navbar-subscribe {
    color: #FFFFFF;
    display: inline-block;
    font-size: 1.25em;
    font-weight: 600;
    margin-bottom: .5em;
    text-decoration: none;
}

.navbar-search {
    background-color: #FFFFFF;
    background-image: url("../images/search-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: .1em solid #FFFFFF;
    border-radius: .25em;
    outline: none;
    padding: .15em 0 .25em 1.75em;
    width: 65%;
}

.navbar-search:focus {
    border: .15em solid #3d6a27;
}

/* Main CSS -- Posts */
.section-title {
    border-bottom: .1em double #3d6a27;
    color: #3d6a27;
    display: inline-block;
    font-size: 2em;
    font-weight: 800;
    margin: .15em 0 .5em 0;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: .25em;
}

.card {
    background-color: #FFFFFF;
    border: .25em double #979797;
    border-radius: .25em;
    margin: .5em;
    padding: .75em;
}

.card-image {
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
    height: 30vh;
    width: 100%;
    margin: 0 auto;
}

.card-title {
    background-color: #3d6a27;
    border-bottom: solid #FFFFFF;
    border-top: solid #FFFFFF;
    border-radius: .25em;
    color: #FFFFFF;
    font-size: 1.125em;
    margin: -.4em 0 0 0;
    padding: .25em 0;
    text-align: center;
}

.card-content {
    color: #4b4572;
    font-weight: 600;
    margin: .5em 0;
    text-align: justify;
}

.card-footer {
    padding: .5em;
    text-align: center;
}

.card-footer .post-link {
    background-color: #3d6a27;
    border-radius: .5em;
    color: #FFFFFF;
    display: inline-block;
    font-size: .875em;
    font-weight: 700;
    padding: .5em;
    text-align: center;
    text-decoration: none;
}

/* Main CSS -- Subscribtion Form */
#subscribe-form {
    padding: .5em;
}

.subscribe-label {
    display: block;
    color: #4b4572;
    font-weight: 600;
    margin-bottom: .75em;
}

.subscribe-input {
    background-color: inherit;
    border: .1em solid #4b4572;
    border-radius: .25em;
    outline: none;
    padding: .25em 0 .25em .5em;
    width: 50%;
}

.subscribe-input:focus {
    border: .15em solid #3d6a27;
}

#subscribe-button {
    background-color: #3d6a27;
    border: none;
    border-radius: .5em;
    display: block;
    color: #FFFFFF;
    cursor: pointer;
    font-size: .875em;
    font-weight: 700;
    margin: .25em auto;
    padding: .5em;
}


/* Footer CSS */
.footer-copyright {
    font-weight: 700;
    font-style: italic;
    display: inline-block;
    margin: 0;
}

.footer-social-media {
    width: 1.5em;
}

/* ------------------POST PAGE CSS --------------------*/
/* Grid Setup CSS */
.post-layout {
    display: grid;
    grid-template-areas: 
    "header" 
    "article"
    "aside" 
    "footer";
    grid-template-rows: auto auto auto auto;
    gap: 1em 0;
    margin-top: 1em;
}

.article {
    grid-area: header;
    padding: 0 1em;
}

/* @ Media Query */
@media (min-width: 600px) and (max-width:900px) {
    .navbar {
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: start;
    }

    .navbar-title {
        margin-bottom: 0;
    }
    
    .navbar-subscribe {
        margin-bottom: .25em;
    }

    .navbar-search {
        margin-bottom: .4em;
        margin-left: auto;
        width: 25%;
    }

    .posts {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: .5em;
    }

    .card {
        width: 41%;
    }
    
    .subscribe-label {
        margin-bottom: 1em;
    }
}

@media (min-width:901px) {
    .navbar {
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: start;
    }

    .navbar-title {
        margin-bottom: 0;
    }
    
    .navbar-subscribe {
        margin-bottom: .25em;
    }

    .navbar-search {
        margin-bottom: .4em;
        margin-left: auto;
        width: 25%;
    }

    .posts {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: .5em;
    }

    .card {
        width: 27%;
    }

    .subscribe-label {
        display: block;
        margin-bottom: 1em;
    }

    .subscribe-input {
        width: 35%;
    }
}